html, body{min-height:100%;}
a {
  color: #3575f1;
  text-decoration: none; 
}
.item-title a{
color: black;
}
.entry-actions a{
color: black;
}


:root {
--body-background: rgba(0,0,0,0);
background-image:linear-gradient(#ebfcf8, #efdaf1);
--title-color: #343434;
--link-color: #343434;
--link-focus-color: #343434;
--link-hover-color:#141414;
--item-padding: 1px !important;
--current-item-border-color:#FF0000;
--cuurent-item-border-width:3px;
}


.item{
margin-bottom:10px !important;
}
.item-status-unread{
background-color: #ffffbe;
}
.item-status-read{
background-color: #c4c4c4;
}
.item-status-unread{
bacground-color:#ffffbe;
}

.hide-read-items .item-status-read:not(.current-item) {
 display:block !important; 
}

.entry-website {
  background-color:#a5ffa2;
}
.entry-author {
background-color:#f6af94;
}
.category{
background-color:#d7c8ff;
}
.item-meta-info-title{
background-color:#a5ffa2;
}

.entry-meta{
display: inline-block;
}

.entry-date{
font-size: 1em;
display: inline-block;
border: 1px solid #FF0000;
border-radius: 2px;
}

.entry-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Adjust the height of the horizontal bar */
  background-color: #000; /* Adjust the color of the horizontal bar */
}


.pagination-next a {
border: 1px solid #FF0000;
border-radius: 2px;
text-decoration: none;
}
.pagination-prev a {
border: 1px solid #FF0000;
border-radius: 2px;
text-decoration: none;
}

